[submodule "pico-examples"]
	path = pico-examples
	url = git@github.com:raspberrypi/pico-examples.git
[submodule "pico-sdk"]
	path = pico-sdk
	url = git@github.com:luigifcruz/pico-sdk.git
[submodule "pico-extras"]
	path = pico-extras
	url = git@github.com:raspberrypi/pico-extras.git
[submodule "pico-playground"]
	path = pico-playground
	url = git@github.com:raspberrypi/pico-playground.git
[submodule "lib/littlefs/littlefs"]
	path = lib/littlefs/littlefs
	url = https://github.com/littlefs-project/littlefs.git
